LOCAL_PATH := $(call my-dir)

GAMBIT_INCLUDE_PATH := /usr/local/Gambit-C/include
DEPS_PATH := ../deps
GAMBIT_LIB_PATH := $(DEPS_PATH)/gambit
SDL_PATH := $(DEPS_PATH)/SDL

# The Gambit runtime
include $(CLEAR_VARS)
LOCAL_MODULE    := gambit
LOCAL_SRC_FILES := $(GAMBIT_LIB_PATH)/libgambc.a
include $(PREBUILT_STATIC_LIBRARY)

# The main module
include $(CLEAR_VARS)
LOCAL_MODULE := =(main-module-name)=
LOCAL_C_INCLUDES := $(LOCAL_PATH)/$(SDL_PATH)/include $(DEPS_PATH) $(GAMBIT_INCLUDE_PATH)
LOCAL_CFLAGS := -fno-short-enums -w
LOCAL_SRC_FILES := $(SDL_PATH)/src/main/android/SDL_android_main.c \
	jni_bridge.c \
  =(c-files-string)=
LOCAL_STATIC_LIBRARIES := gambit
LOCAL_SHARED_LIBRARIES := SDL2
LOCAL_LDLIBS := -ldl -lc -llog -lEGL -lGLESv2
include $(BUILD_SHARED_LIBRARY)
